@using Microsoft.AspNetCore.Html;
@using DfE.ExternalApplications.Web.Utilities;
@model DfE.ExternalApplications.Web.Services.FieldViewModel
@{
    var maxLengthValidation = Model.Field.Validations?.FirstOrDefault(v => v.Type == "maxLength");
    var maxWordsValidation = Model.Field.Validations?.FirstOrDefault(v => v.Type == "maxWords");

    var maxLengthRule = maxLengthValidation?.Rule.ToString();
    var maxWordsRule = maxWordsValidation?.Rule.ToString();

    int.TryParse(maxLengthRule, out var maxLengthValue);
    int.TryParse(maxWordsRule, out var maxWordsValue);

    var useWordLimit = maxWordsValue > 0;
    var limitAttributeValue = useWordLimit ? maxWordsValue : maxLengthValue;

    var labelClasses = Model.Field.Label.IsVisible ? "govuk-label govuk-label--m" : "govuk-visually-hidden";
    var maxLengthMessage = maxWordsValidation?.Message ?? maxLengthValidation?.Message
        ?? "You have entered too many characters";
}
@if (useWordLimit)
{
    <govuk-character-count id="@Model.Id" name="Data[@Model.Field.FieldId]" max-words="@limitAttributeValue">
        <govuk-character-count-label class="@labelClasses" asp-for="@Model.Field.FieldId">@Model.Field.Label.Value</govuk-character-count-label>
        @{
            var (hintHtml, hintClass) = MarkdownSafe.RenderHintWithClass(Model.Field.Tooltip);
        }
        <govuk-character-count-hint class="@hintClass">
            @Html.Raw(hintHtml)
        </govuk-character-count-hint>

        @if (Model.ErrorMessage != String.Empty)
        {
            <govuk-character-count-error-message>
                <span class="govuk-visually-hidden">Error: </span>
                @Model.ErrorMessage
            </govuk-character-count-error-message>
        }
        <govuk-character-count-value>@Model.CurrentValue</govuk-character-count-value>
    </govuk-character-count>
}
else
{
    <govuk-character-count id="@Model.Id" name="Data[@Model.Field.FieldId]" max-length="@limitAttributeValue">
        <govuk-character-count-label class="@labelClasses" asp-for="@Model.Field.FieldId">@Model.Field.Label.Value</govuk-character-count-label>
        @{
            var (hintHtml, hintClass) = MarkdownSafe.RenderHintWithClass(Model.Field.Tooltip);
        }
        <govuk-character-count-hint class="@hintClass">
            @Html.Raw(hintHtml)
        </govuk-character-count-hint>

        @if (Model.ErrorMessage != String.Empty)
        {
            <govuk-character-count-error-message>
                <span class="govuk-visually-hidden">Error: </span>
                @Model.ErrorMessage
            </govuk-character-count-error-message>
        }
        <govuk-character-count-value>@Model.CurrentValue</govuk-character-count-value>
    </govuk-character-count>
}