@using System.Collections
@using System.Text.Json
@using DfE.ExternalApplications.Web.Services
@using DfE.CoreLibs.Contracts.ExternalApplications.Models.Response
@inject IHttpContextAccessor httpContext;
@using Microsoft.AspNetCore.Http.Extensions
@model FieldViewModel
@{
    var applicationId = ViewData["applicationId"] as string ?? Context.Session.GetString("ApplicationId");
    var fieldId = Model.Field.FieldId;

    var files = ViewData[$"{fieldId}_Files"] as IEnumerable<UploadDto>;
    if (files == null || !files.Any())
    {
        if (!string.IsNullOrEmpty(Model.CurrentValue))
        {
            try
            {
                files = JsonSerializer.Deserialize<List<UploadDto>>(Model.CurrentValue);
            }
            catch
            {
                files = new List<UploadDto>();
            }
        }

        files ??= new List<UploadDto>();
    }
    else
    {
        files = files.ToList();
    }


    var pageUrl = httpContext.HttpContext.Request.Path.Value;
}

@{
    var currentUrl = httpContext.HttpContext.Request.GetDisplayUrl();
    var referenceNumber = ViewData["referenceNumber"]?.ToString();
    var taskId = ViewData["taskId"]?.ToString();
    var pageId = ViewData["pageId"]?.ToString();
    
}
<h3 class="govuk-heading-m">@Model.Field.Label.Value</h3>
@if (!string.IsNullOrEmpty(Model.Field.Tooltip))
{
    <div class="govuk-hint">@Model.Field.Tooltip</div>
}

<form method="post" asp-page="/FormEngine/UploadFile" asp-route-referenceNumber="@referenceNumber" asp-route-taskId="@taskId" asp-route-pageId="@pageId" asp-page-handler="UploadFile" enctype="multipart/form-data">
    <input type="hidden" name="ApplicationId" value="@applicationId" />
    <input type="hidden" name="FieldId" value="@fieldId" />
    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
    
    <div class="govuk-form-group">
        <label class="govuk-label" for="upload-file-@fieldId">Choose file</label>
        <input class="govuk-file-upload" id="upload-file-@fieldId" name="UploadFile" type="file" required />
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" for="upload-name-@fieldId">File name (optional)</label>
        <input class="govuk-input" id="upload-name-@fieldId" name="UploadName" type="text" />
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" for="upload-desc-@fieldId">Description (optional)</label>
        <input class="govuk-input" id="upload-desc-@fieldId" name="UploadDescription" type="text" />
    </div>
    <button class="govuk-button" type="submit">Upload file</button>
</form>
@if (files.Any())
{
    <h3 class="govuk-heading-m">Uploaded files</h3>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">File name</th>
                <th class="govuk-table__header">Description</th>
                <th class="govuk-table__header">Uploaded on</th>
                <th class="govuk-table__header">Actions</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var file in files)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@file.OriginalFileName</td>
                <td class="govuk-table__cell">@file.Description</td>
                <td class="govuk-table__cell">@file.UploadedOn.ToString("g")</td>
                <td class="govuk-table__cell">
                    <form method="post" asp-page="/FormEngine/UploadFile" asp-route-referenceNumber="@referenceNumber" asp-route-taskId="@taskId" asp-route-pageId="@pageId" asp-page-handler="DownloadFile" style="display:inline">
                        <input type="hidden" name="FileId" value="@file.Id" />
                        <input type="hidden" name="FieldId" value="@fieldId" />
                        <input type="hidden" name="ApplicationId" value="@applicationId" />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <govuk-button type="submit" id="download-file">Download</govuk-button>
                    </form>
                    <form method="post" asp-page="/FormEngine/UploadFile" asp-route-referenceNumber="@referenceNumber" asp-route-taskId="@taskId" asp-route-pageId="@pageId" asp-page-handler="DeleteFile" style="display:inline">
                        <input type="hidden" name="FileId" value="@file.Id" />
                        <input type="hidden" name="FieldId" value="@fieldId" />
                        <input type="hidden" name="ApplicationId" value="@applicationId" />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="govuk-button govuk-button--warning govuk-button--small" 
                                data-module="govuk-button"
                                onclick="return confirm('Are you sure you want to delete this file?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
} 