@page "/render-form/{referenceNumber}/{pageId?}"
@model RenderFormModel
@inject DfE.ExternalApplications.Web.Services.IFieldRendererService FieldRenderer
@{
    ViewData["Title"] = "New application";
}

@{
    if (!String.IsNullOrEmpty(Model.CurrentPageId))
    {
        <form method="post" asp-page-handler="Page">
            <input type="hidden" asp-for="CurrentPageId" />
            <govuk-back-link href="/render-form/@Model.ReferenceNumber">Back</govuk-back-link>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@Model.CurrentTask.TaskName</h1>

            <govuk-error-summary>
                @{
                    var ModelStateWithFieldProps = from m in ModelState
                        join f in Model.CurrentPage.Fields on m.Key.ToString() equals f.FieldId
                        select new { m, f };
                }
                @foreach (var s in ModelStateWithFieldProps.OrderBy(s => s.f.Order))
                {
                    foreach (var e in s.m.Value.Errors)
                    {
                        var href = $"#Data_{s.m.Key.ToString()}";
                        <govuk-error-summary-item href="@href">
                            @e.ErrorMessage
                        </govuk-error-summary-item>
                    }
                }
            </govuk-error-summary>

            @foreach (var field in Model.CurrentPage.Fields.OrderBy(f => f.Order))
            {
                var currentValue = Model.Data.TryGetValue(field.FieldId, out var val) ? val.ToString() : String.Empty;

                var fieldModelState = ModelState.Where(f => f.Key == field.FieldId).FirstOrDefault();
                var errorMessage = fieldModelState.Value?.Errors?.FirstOrDefault()?.ErrorMessage ?? String.Empty;

                @await FieldRenderer.RenderFieldAsync(field, "Data", currentValue, errorMessage);
            }

            <govuk-button type="submit" name="handler" value="Page">Save and continue</govuk-button>
        </form>
    }


    else
    {
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Your application</h1>
        <govuk-inset-text>Application reference: <strong>@Model.ReferenceNumber</strong></govuk-inset-text>
        @foreach (var group in Model.Template.TaskGroups.OrderBy(g => g.GroupOrder))
        {
            <h1 class="govuk-heading-m">
                @group.GroupName
            </h1>
            <ul class="govuk-task-list">
                @foreach (var task in group.Tasks.OrderBy(t => t.TaskOrder))
                {
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="/render-form/@Model.ReferenceNumber/@task.Pages.OrderBy(p => p.PageOrder).First().PageId" aria-describedby="task-@task.TaskName-status">
                                @task.TaskName
                            </a>
                        </div>
                        <div class="govuk-task-list__status" id="company-details-1-status">
                            <govuk-tag>@task.TaskStatus</govuk-tag>
                        </div>
                    </li>
                }
            </ul>
        }

    }
}